[run]
omit =
     ./src/aup/Proposer/spearmint/*
     ./src/aup/Proposer/hyperopt/*
     ./src/aup/Proposer/eas/*
     ./src/aup/Proposer/hpbandster/*
     ./src/aup/Proposer/EASProposer.py
     ./src/aup/setupdb/reset.py
     ./src/aup/visualize.py
     ./src/aup/EE/Resource/AWSResourceManager.py
     ./src/aup/init.py
     */__main__.py
     */__init__.py

[report]
exclude_lines =
    pragma: no cover
    flags
    def main
    if __name__ == "__main__"
    @click
    raise NotImplementedError

