click
numpy
coloredlogs
six
futures; python_version == '2.7'
protobuf
weave; python_version == '2.7'
matplotlib
pandas
networkx
hyperopt
nose
request
paramiko
boto3
mock; python_version < '3.3'
future
ConfigSpace; python_version >= '3'
pytest-cov
codecov
hpbandster; python_version >= '3'
