{
    "name": "SimpleConvnet",
    "weight_decay": 0.0001,
    "bn_epsilon": 1e-05,
    "bn_decay": 0.9,
    "drop_scheme": {
        "type": "conv",
        "conv_drop": 1.0,
        "pool_drop": 0.7,
        "fc_drop": 0.5
    },
    "layer_cascade": {
        "_id": "SimpleConvNet",
        "layers": [
            {
                "name": "conv",
                "filter_num": 4,
                "kernel_size": 3,
                "strides": 1,
                "_id": "conv_0",
                "use_bn": true,
                "activation": "relu",
                "keep_prob": 1.0,
                "pre_activation": false
            },
            {
                "name": "pool",
                "_type": "max",
                "kernel_size": 2,
                "strides": 2,
                "_id": "pool_0",
                "use_bn": false,
                "activation": null,
                "keep_prob": 1.0,
                "pre_activation": false
            },
            {
                "name": "conv",
                "filter_num": 4,
                "kernel_size": 3,
                "strides": 1,
                "_id": "conv_1",
                "use_bn": true,
                "activation": "relu",
                "keep_prob": 1.0,
                "pre_activation": false
            },
            {
                "name": "pool",
                "_type": "max",
                "kernel_size": 2,
                "strides": 2,
                "_id": "pool_1",
                "use_bn": false,
                "activation": null,
                "keep_prob": 1.0,
                "pre_activation": false
            },
            {
                "name": "conv",
                "filter_num": 4,
                "kernel_size": 3,
                "strides": 1,
                "_id": "conv_2",
                "use_bn": true,
                "activation": "relu",
                "keep_prob": 1.0,
                "pre_activation": false
            },
            {
                "name": "pool",
                "_type": "max",
                "kernel_size": 2,
                "strides": 2,
                "_id": "pool_2",
                "use_bn": false,
                "activation": null,
                "keep_prob": 1.0,
                "pre_activation": false
            },
            {
                "name": "conv",
                "filter_num": 4,
                "kernel_size": 3,
                "strides": 1,
                "_id": "conv_3",
                "use_bn": true,
                "activation": "relu",
                "keep_prob": 1.0,
                "pre_activation": false
            },
            {
                "name": "pool",
                "_type": "avg",
                "kernel_size": 4,
                "strides": 4,
                "_id": "pool_4",
                "use_bn": false,
                "activation": null,
                "keep_prob": 1.0,
                "pre_activation": false
            },
            {
                "name": "fc",
                "units": 8,
                "use_bias": false,
                "_id": "fc_0",
                "use_bn": true,
                "activation": "relu",
                "keep_prob": 1.0,
                "pre_activation": false
            },
            {
                "name": "fc",
                "units": 10,
                "use_bias": true,
                "_id": "fc_1",
                "use_bn": false,
                "activation": null,
                "keep_prob": 1.0,
                "pre_activation": false
            }
        ]
    }
}