{
  "printWidth": 120,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "semi": true,
  "bracketSpacing": true,
  "endOfLine": "auto"
}
